<div>
    <nz-divider nzText="Audit Report" nzOrientation="center"></nz-divider>
    <nz-spin [nzSpinning]="tab.isProcessing" *ngIf="!tab.lhr">
        <nz-empty></nz-empty>
    </nz-spin>

    <div style="background: #ececec; padding: 30px" *ngIf="tab.lhr">
        <nz-row [nzGutter]="[16, 24]">
            <nz-col [nzSpan]="8">
                <nz-card>
                    <nz-statistic [nzValue]="
(tab.lhr.categories.performance.score * 100
| number: '1.0-2')!
" [nzTitle]="'Performance Score'" [nzPrefix]="perfStateTmpl" [nzSuffix]="'%'">
                    </nz-statistic>
                    <ng-template #perfStateTmpl>
                        <em nz-icon style="color: '#ff4d4f'" nzType="close-circle" *ngIf="
tab.lhr.categories.performance.score <= 0.85
"></em>
                        <em nz-icon style="color: '#3f8600'" nzType="check-circle" *ngIf="
tab.lhr.categories.performance.score > 0.85
"></em>
                    </ng-template>
                </nz-card>
            </nz-col>
            <nz-col [nzSpan]="8">
                <nz-card>
                    <nz-statistic [nzValue]="
(tab.lhr.categories.seo.score * 100
| number: '1.0-2')!
" [nzTitle]="'SEO Score'" [nzPrefix]="seoStateTmpl" [nzSuffix]="'%'">
                    </nz-statistic>
                    <ng-template #seoStateTmpl>
                        <em nz-icon style="color: '#ff4d4f'" nzType="close-circle" *ngIf="tab.lhr.categories.seo.score <= 0.85"></em>
                        <em nz-icon style="color: '#3f8600'" nzType="check-circle" *ngIf="tab.lhr.categories.seo.score > 0.85"></em>
                    </ng-template>
                </nz-card>
            </nz-col>
            <nz-col [nzSpan]="8">
                <nz-card>
                    <nz-statistic [nzValue]="
(tab.lhr.categories.accessibility.score * 100
| number: '1.0-2')!
" [nzTitle]="'Accessibility Score'" [nzPrefix]="a11yStateTmpl" [nzSuffix]="'%'">
                    </nz-statistic>
                    <ng-template #a11yStateTmpl>
                        <em nz-icon style="color: '#ff4d4f'" nzType="close-circle" *ngIf="tab.lhr.categories.accessibility.score <= 0.85"></em>
                        <em nz-icon style="color: '#3f8600'" nzType="check-circle" *ngIf="tab.lhr.categories.accessibility.score > 0.85"></em>
                    </ng-template>
                </nz-card>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="[16, 24]">
            <nz-col [nzSpan]="12">
                <nz-card>
                    <nz-statistic [nzValue]="
(tab.lhr.categories['best-practices'].score * 100
| number: '1.0-2')!
" [nzTitle]="'Best Practices Score'" [nzPrefix]="bestPStateTmpl" [nzSuffix]="'%'">
                    </nz-statistic>
                    <ng-template #bestPStateTmpl>
                        <em nz-icon style="color: '#ff4d4f'" nzType="close-circle" *ngIf="tab.lhr.categories['best-practices'].score <= 0.85"></em>
                        <em nz-icon style="color: '#3f8600'" nzType="check-circle" *ngIf="tab.lhr.categories['best-practices'].score > 0.85"></em>
                    </ng-template>
                </nz-card>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-card>
                    <nz-statistic [nzValue]="
(tab.lhr.categories.pwa.score * 100
| number: '1.0-2')!
" [nzTitle]="'PWA Score'" [nzPrefix]="pwaStateTmpl" [nzSuffix]="'%'">
                    </nz-statistic>
                    <ng-template #pwaStateTmpl>
                        <em nz-icon style="color: '#ff4d4f'" nzType="close-circle" *ngIf="tab.lhr.categories.pwa.score <= 0.85"></em>
                        <em nz-icon style="color: '#3f8600'" nzType="check-circle" *ngIf="tab.lhr.categories.pwa.score > 0.85"></em>
                    </ng-template>
                </nz-card>
            </nz-col>
        </nz-row>
    </div>
</div>