nz-layout {
    height: 100%;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.header-menu {
    line-height: 64px;
}

.outer-content {
    padding: 0 50px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-layout {
    padding: 24px 0;
    background: #fff;
}

.sider-menu {
    height: 100%;
}

.inner-content {
    padding: 0 24px;
    min-height: 280px;
}

nz-footer {
    text-align: center;
}

.login-form-margin {
    margin-bottom: 16px;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-nav,
.ant-tabs .ant-tabs-right-bar .ant-tabs-nav {
    width: 300px !important;
}

.content {
    flex: 1;
}

.content p {
    margin-bottom: 1em;
}

.content-link a {
    margin-right: 16px;
}

.content-link a img {
    margin-right: 8px;
}

.webpreview-image {
    margin: 0 0 0 60px;
    display: flex;
    align-items: center;
}

.webpreview img {
    width: 100%;
}

@media (max-width: 768px) {
    .content-image {
        flex: 100%;
        margin: 24px 0 0;
    }
}

.webpreview {
    margin-right: 24px;
}