<nz-layout>
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
            <li nz-menu-item [routerLink]="['/']">Home</li>
        </ul>
    </nz-header>
    <nz-content class="outer-content">
        <nz-breadcrumb *ngIf="project">
            <nz-breadcrumb-item>
                <a [routerLink]="['/']">Projects</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>{{ project.name }}</nz-breadcrumb-item>
            <!-- <nz-breadcrumb-item>{{ project._id }}</nz-breadcrumb-item> -->
        </nz-breadcrumb>
        <nz-spin [nzSpinning]="isSpinning">
            <nz-layout class="inner-layout">
                <nz-tabset [nzTabPosition]="'left'" [nzType]="'line'" [nzSize]="'large'" *ngIf="project" style="padding: 2em; min-height: 50vh">
                    <nz-tab nzTitle="Setup">
                        <ng-template nz-tab>
                            <nz-content class="inner-content">
                                <button nz-button (click)="createNew()" nzType="primary">
                  Add URL(s)
                </button>
                                <br />
                                <br />
                                <nz-table #editRowTable nzBordered [nzData]="listOfData">
                                    <thead>
                                        <tr>
                                            <th scope="" nzWidth="30%">Name</th>
                                            <th scope="" nzWidth="40%">URL</th>
                                            <th scope="" nzWidth="20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of editRowTable.data" class="editable-row">
                                            <td>
                                                <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                                                    {{ data.name }}
                                                </div>
                                                <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit(data)" />
                                            </td>
                                            <td>
                                                <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                                                    {{ data.url }}
                                                </div>
                                                <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.url" (blur)="stopEdit(data)" required />
                                            </td>
                                            <td>
                                                <!-- <button nz-button (click)="audit(data)" nzType="primary">
                                  Audit
                                </button> -->
                                                <button nz-button nz-popconfirm nzPopconfirmTitle="Sure to delete?" nzDanger (nzOnConfirm)="deleteRow(data.id)">
                          Delete
                        </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </nz-content>
                        </ng-template>
                    </nz-tab>
                    <nz-tab *ngFor="let tab of project.urls" [nzTitle]="tab.name">
                        <nz-page-header class="site-page-header">
                            <!--avatar-->

                            <img src="{{ tab.preview.favicons[0] }}" alt="content" />

                            <!--title-->
                            <nz-page-header-title>{{ tab.name }} </nz-page-header-title>

                            <!--subtitle-->
                            <nz-page-header-subtitle>{{ tab.preview.contentType }}
                            </nz-page-header-subtitle>

                            <!--tags-->
                            <nz-page-header-tags>
                                <nz-tag [nzColor]="'orange'" *ngIf="tab.isProcessing">Running</nz-tag>
                                <nz-tag [nzColor]="'green'" *ngIf="tab.lhr">Completed</nz-tag>
                            </nz-page-header-tags>

                            <!--extra-->
                            <nz-page-header-extra>
                                <!-- <button nz-button>Operation</button> -->
                                <button nz-button nzType="primary" (click)="audit(tab)" [nzLoading]="tab.isProcessing">
                  Audit
                </button>
                            </nz-page-header-extra>

                            <!--content-->
                            <nz-page-header-content>
                                <div nz-row>
                                    <div class="webpreview">
                                        <img src="{{ tab.preview.favicons[0] }}" alt="content" />
                                    </div>
                                    <div class="content">
                                        <div nz-paragraph>
                                            <h3>{{ tab.preview.title }}</h3>
                                            {{ tab.preview.description }}
                                        </div>
                                    </div>
                                </div>

                                <br /><br />
                                <app-scores [tab]="tab"></app-scores>
                            </nz-page-header-content>
                        </nz-page-header>
                    </nz-tab>
                </nz-tabset>
            </nz-layout>
        </nz-spin>
        <nz-footer>PerfMan | Deloitte Consulting | ©2020</nz-footer>
    </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add New URL" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
    <form nz-form [formGroup]="validateForm" class="login-form">
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please enter a webpage name">
                <nz-input-group nzPrefixIcon="home">
                    <input type="text" nz-input formControlName="name" placeholder="Home Page - With Carousel" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please enter a valid webpage URL">
                <nz-input-group nzPrefixIcon="link">
                    <input type="text" nz-input formControlName="url" placeholder="https://example.com" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>
