<nz-layout>
    <nz-header>
        <div class="logo"></div>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <nz-empty *ngIf="!listOfData.length" [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                <ng-template #contentTpl>
                    <span> You do not have any PerfMan Projects </span>
                    <br><br>
                    <button nz-button nzType="primary" (click)="createNew()">
                      Create New Project
                    </button>
                </ng-template>
                <ng-template #footerTpl> </ng-template>

            </nz-empty>


            <button nz-button nzType="primary" style="float: right;" (click)="createNew()" *ngIf="listOfData.length">
        Create New Project
      </button>

            <br />
            <nz-divider nzText="Existing Projects" *ngIf="listOfData.length"></nz-divider>
            <br />
            <nz-table #editRowTable nzBordered nzPageSize="5" [nzData]="listOfData" *ngIf="listOfData.length" nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th nzWidth="30%">Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of editRowTable.data; index as i" class="editable-row">
                        <td>{{ data._id }}</td>
                        <td>
                            <div class="editable-cell" [hidden]="editId === data._id" (click)="startEdit(data._id)">
                                {{ data.name }}
                            </div>
                            <input [hidden]="editId !== data._id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit()" />
                        </td>
                        <td>
                            <button nz-button [routerLink]="['/', 'detail', data._id]" nzType="primary">
                Browse
              </button>
                            <button nz-button nz-popconfirm nzPopconfirmTitle="Sure to delete?" nzDanger (nzOnConfirm)="deleteRow(data._id, i)">
                Delete
              </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-content>
    <nz-footer>PerfMan | Deloitte Consulting | ©2020</nz-footer>
</nz-layout>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Create New Project" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please enter a valid project name">
                <nz-input-group nzPrefixIcon="plus-square">
                    <input type="text" nz-input formControlName="name" placeholder="My Awesome Project" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>